$content-bgcolor: #fff;
$content-fgcolor: #383838;
$content-fgcolor-alt: #9a9a9a;

$content-hcolor: darken($content-fgcolor,3%);

$link-color: #268bd2;

$sidebar-bgcolor: #102028;
$sidebar-fgcolor: #fff ;
$sidebar-fgcolor-alt: rgba(255,255,255,0.5);

