@import "colours";

#profile-links {
    a {
        display: block;
        line-height: 2em;
        width: 2em;
        height: 2em;
        margin: 0px auto;
        background-color: lighten($link-color,15%);
        color: #FFF;
        text-align: center;
        font-size: 1.75em;
        border-radius: 50%;
    }

    a:hover {
        background-color: $link-color;
    }
}