---
layout: default
---

<div class="page">

    {{ content }}

    <div id="profile-links">
        <a href="https://github.com/grodin" title="My GitHub profile">
            <i class="fa fa-github-alt"></i>
        </a>
        <a href="https://bitbucket.org/grodin" title="My BitBucket profile">
            <i class="fa fa-bitbucket"></i>
        </a>
        <a href="https://plus.google.com/+JosephCooper-JSC" title="My Google+ profile">
            <i class="fa fa-google-plus"></i>
        </a>
        <a href="https://linkedin.com/in/josephscooper" title="My LinkedIn profile">
            <i class="fa fa-linkedin "></i>
        </a>
    </div>
</div>